VITE_API_URL=http://localhost:3001
VITE_ENTRA_CLIENT_ID=52d90a56-2ad4-42b2-99f0-971c6b5f374c
VITE_ENTRA_TENANT_ID=69b045f1-1d6c-435a-a8b3-ab76dc15ded9
VITE_ENTRA_TENANT_SUBDOMAIN=openeventsdevjhon
VITE_ENTRA_REDIRECT_URI=http://localhost:5173/
VITE_ENTRA_API_SCOPE=api://cd81b6dc-e10f-4240-bf69-7df9a49c514a/access_as_user
